*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#bg{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1763300883076-4f18083e59d8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

    
}

#card{
    position: absolute;
    height:400px;
    width: 200px;
    background-image: url();;
}

